<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hidden{
            display: none;
        }
    </style>
</head>
<body>
    <form id = "form">
        <input type="text" name="description" id="desc">
        <input type="submit" value="create" id="submit">
    </form>
   
    <ul id="todolist">
        {% for todo in data %}
            <li>{{todo.description}}</li>
        {% endfor %}
    </ul>
    <div class="hidden" id="error"> OH OH...Something is not quite right!</div>

    <script>
        document.getElementById("form").onsubmit = function(e){
            e.preventDefault();

            fetch(`/todo/create`, {
            method: "POST",
            body: JSON.stringify({
                'description': document.getElementById("desc").value
            }),
            headers:{
                'Content-Type': 'application/json'
            } 
            })
            .then(function(response){
                return response.json();
            })
            .then(function(data){
                console.log(data);
                const liItem = document.createElement("LI");
                liItem.innerHTML = data["description"];
                document.getElementById("todolist").appendChild(liItem);
                document.getElementById("error").classList = "hidden";
            })
            .catch(function(err){
                document.getElementById("error").classList = " ";
            });
        }
    </script>
</body>
</html>